* {
	-fx-font-family: "Varela Round", cursive;
	-fx-font-size: 24px;
	-fx-text-fill: white;
	-fx-fdm-darkGrey: #1a1a1a;
	-fx-fdm-gray: #232323;
	-fx-fdm-lightGray: #303030;
	-fx-fdm-coconut: #E9EDF6;
	/*
	-fx-focus-color: #c3c3bb;
	-fx-accent: #c3c3bb;
	-fx-cell-hover-color: #c3c3bb;*/
}

.text-field, .text-area {
    -fx-background-color: -fx-fdm-lightGray;
}

.text-area .content {
    -fx-background-color: -fx-fdm-lightGray;
}

.tree-view .tree-cell {
    -fx-background-color: -fx-fdm-darkGrey;
}

.tree-view .tree-cell:focused {
    -fx-background-color: #c3c3bb;
}

.tree-view .tree-cell:hover {
    -fx-background-color: #000000;
}

.menu-item:focused {
    -fx-background-color: #c3c3bb;
}

#menuBar, #topMenu {
	-fx-background-color: -fx-fdm-lightGray;
	-fx-color: red;
}

.menu-button .context-menu {
    -fx-background-color: #404040;
}

#menuBar .menu-button {
    -fx-background-color: -fx-fdm-lightGray;
}

#menuBar .menu-button:hover {
    -fx-background-color: #000000;
}

.menu-button .menu-item {
    -fx-background-color: -fx-fdm-darkGrey;
}

.menu-button .menu-item:hover {
    -fx-background-color: #000000;
}

.list-view .list-cell{
    -fx-background-color: -fx-fdm-lightGray;
}

.list-view {
    -fx-background-color: -fx-fdm-darkGrey;
}

.choice-box .context-menu {
    -fx-background-color: -fx-fdm-darkGrey;
}

.choice-box .menu-item > .label {
    -fx-background-color: transparent;
}

.choice-box .menu-item: hover{
    -fx-background-color: #000000;
}

.choice-box .menu-item > .label: hover{
    -fx-background-color: #000000;
}

.choice-box .menu-item: focused{
    -fx-background-color: #000000;
}

.choice-box > .label {
    -fx-text-fill: black;
}

#mainWindow {
    -fx-background-color: -fx-fdm-gray;
}

#centerScrollPaneWrapper {

}

.button, .choice-box, .menu-button {
    -fx-text-align: center;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-background-radius: 2px;
    -fx-background-color: #C5FF00;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}

.date-picker-popup > * > .cell {
    -fx-background-color: black;
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: #00ff00;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-fdm-darkGrey;
}


.date-picker-popup > * >.day-name-cell {
    -fx-background-color: -fx-fdm-darkGrey;
    -fx-border-color: white;
}

.date-picker-popup > * > .week-number-header-cell{
    -fx-background-color: black;
    -fx-border-color: white;
}

.date-picker-popup > * > .week-number-cell {
    -fx-background-color: -fx-fdm-darkGrey;
}


.date-picker .arrow-button {
    -fx-background-color: -fx-fdm-darkGrey;
    -fx-border-color: white;
}

.date-picker .arrow-button .arrow{
    -fx-background-color: white;
}

.date-picker-popup > * > .today {
    -fx-background-color: -fx-fdm-darkGrey;
}

#centerBox .menu-button >.label {
    -fx-text-fill: black;
}

.button:hover, .menu-button:hover, .choice-box:hover {
    -fx-background-color: -fx-fdm-coconut;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#centerBox {
    -fx-background-color: -fx-fdm-darkGrey;
}

